<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.jpg" alt="" style="height: 75px;">
                </div>
                <h1 class="text-center">Register Here!!</h1>

                <form (ngSubmit)="formSubmit()" class="text-center" >

                    <div class="col-md-12">

                        <div class="class-md-6">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input required [(ngModel)]="user.username" name="username" matInput placeholder="Enter UserName">
                            </mat-form-field>
                        </div>
                        <div class="class-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Password</mat-label>
                                <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter Password">
                            </mat-form-field>

                        </div>
                        <div class="class-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input required [(ngModel)]="user.firstname" name="firstname" matInput placeholder="Enter First Name">
                            </mat-form-field>
                        </div>
                        <div class="class-md-6">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input required [(ngModel)]="user.lastname" name="lastname" matInput placeholder="Enter Last Name">
                            </mat-form-field>
                        </div>

                        <div class="class-md-6">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input required [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter Email">
                                <mat-hint>Email must be unique</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="class-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Phone Number</mat-label>
                                <input required [(ngModel)]="user.phone" name="phone" matInput placeholder="Enter Phone Number">
                            </mat-form-field>
                        </div>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button style="margin-left:20px;" mat-raised-button color="accent" (click)="resetRegData();">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>